p, a, h1, h2, h3, .button {
  font-family: "Helvetica Neue", helvetica;
  text-decoration: none;
}

h1 {
  font-size:38px;
  line-height:36px;
  font-weight:bold;
  font-weight:200;
  text-align:left;
}

h2 {
  font-size:32px;
  line-height:36px;
  font-weight:bold;
}

p, ul {
  font-size:12px;
  line-height:18px;
  text-align:left;
  margin-left:40px;
}


#spread-the-word {
  padding: 20px;
}

#spread-the-word div.shareable-content {
  padding: 0;
}

#spread-the-word div.shareable-content .display-container {
  width: auto;
}

#spread-the-word div.shareable-content p {
  padding: 0;
}

#spread-the-word div.sharebuttons {
  width: 100%;
  text-align: center;
}

#spread-the-word div.sharebuttons > div.sp_share_button {
  display: block;
  margin-right: 0;
}

#spread-the-word .sp_fb_large a,
#spread-the-word .sp_tw_large a,
#spread-the-word .sp_em_large a {
  width: 160px;
  font-size: 13px;
  line-height: 15px;
}


@media screen and (min-width: 769px) {
  #footer .wrapper_inner .footer_menu ul li.last {
    display: inline;
  }

  #spread-the-word {
    background-color: #fff;
    padding: 20px 15px;
  }

  #spread-the-word div.shareable-content {
    padding: 10px 0;
  }

  #spread-the-word div.shareable-content:last-child {
    border: none;
  }

  #spread-the-word div.shareable-content a.shared-title,
  #spread-the-word div.shareable-content h1 {
    display: block;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 0 45px;
    text-align: left;
  }

  #spread-the-word div.shareable-content,
  #spread-the-word .fb-comments {
    margin: 10px auto;
    display: block;
    text-align: center;
    clear: both;
  }
  #spread-the-word div.shareable-content .display-container {
    width: 75%;
    margin:0 auto;
  }

  #spread-the-word div.shareable-content .display-container a img,
  #spread-the-word div.shareable-content .display-container iframe {
    margin: 0 auto;
    display: block;
  }

  #spread-the-word div.shareable-content .display-container .video-container {
    position: relative;
    padding-bottom: 46.25%;
    height: 0;
    overflow: hidden;
  }

  #spread-the-word div.shareable-content .display-container .video-container iframe,
  #spread-the-word div.shareable-content .display-container .video-container object,
  #spread-the-word div.shareable-content .display-container .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  #spread-the-word div.shareable-content p {
    margin: 20px auto 0 auto;
    padding: 0 45px;
  }

  #spread-the-word div.shareable-content div.social-icons {
    text-align: center;
  }

  #spread-the-word div.shareable-content div.social-icons h2 {
    display: inline;
    position: relative;
    margin-right: 20px;
    bottom: 45px;
    color: #025563;
  }

  #spread-the-word div.sharebuttons {
    display: block;
    margin: 0 auto 15px auto;
    width: 73%;
  }

  /* assume shareprogress - should generalize */
  #spread-the-word div.sharebuttons > div.sp_share_button {
    display:inline;
    margin-right:10px;
  }
}

#modal .ak-err {
  clear: both;
  list-style: none;
  text-align: right;
  color: red;
  max-width: 506px;
  padding: 0;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
}

.sharebuttons {
  margin: 0 auto 15px auto;
}

@media screen and (min-width: 769px) and (max-width: 960px) {
  #spread-the-word div.sharebuttons {
    width: 77%;
    display: inline-block;
  }
}

@media screen and (min-width: 769px) {
  #spread-the-word div.shareable-content p {
    padding:0 !important;
  }
}