#wrapper_inner {
  width: 990px !important;
  box-sizing:border-box;
}

.map_wrapper { 
  background-color: #fff;
  padding: 20px 15px;
}

.map_wrapper ul#sources {
  margin-left: 20px;
  padding-left: 0px;
  list-style-type: circle;
}

#map {
  display: block;
  width: 960;
  height: 600;
}

.background {
  fill: #fff;
  pointer-events: all;
  stroke: #000;
}

.state.active {
  fill: orange;
}

.state {
  fill: #ddd;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: brown;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}

.bubble :hover {
  stroke: #000;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}