#wrapper_inner {
  width: 960px !important;
  box-sizing:border-box;
}

.map_wrapper { 
  background-color: #fff;
  padding: 20px 15px;
}

.map_wrapper p {
  padding-top: 15px;
  margin-left: 0px;
}

.map_wrapper ul#sources {
  margin-left: 20px;
  padding-left: 0px;
  list-style-type: circle;
}

#map {
  display: block;
  float: left;
  width: 640px;
  height: 480px;
  margin-bottom: 10px;
  cursor:zoom-in;
}

#data {
  display:block;
  float: left;
  width: 250px;
  height: 480px;
  margin-left: 20px;
  text-align:center;
}

#data h2 {
  font-size: 28px;
  margin:0;
}
#data h2 em {
  color: #c00;
}
#data h3 {
  font-size: 24px;
  margin-top: 5px;
}

#controls {
  float: left;
}

.background {
  fill: #fff;
  pointer-events: all;
  /*stroke: #000;*/

  cursor:default;
}

.state {
  fill: #ddd;
  cursor:zoom-in;
}
.state:hover {
  fill: #ccc;
}
.state.active {
  fill: #aaa;
  cursor:default;
}

.border {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.bubble {
  fill: #C70000;
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
  cursor:pointer;
  pointer-events: all;
}

.bubble circle.active {
  fill-opacity: 0.5;
}
.bubble circle.inactive {
  fill-opacity: 0.05;
  stroke-width: 0;
  pointer-events: none;
}
.bubble circle.locked {
  stroke: yellow;
  stroke-width: 1px;
}

.bubble :hover {
  stroke: #000;
}

.legend circle {
  fill: none;
  stroke: #ccc;
}

.legend text {
  fill: #777;
  font: 10px sans-serif;
  text-anchor: middle;
}