@media only screen 
and (max-width : 1120px) {
  #data h2, #action h2 { font-size: 20px; }
  #data.contain { width: 325px; }
  #action { left: 675px; }
}

@media only screen
and (max-width: 1000px) {
  #data { left: 33px; top: 80px; }
  #action { left: 375px; top: 23px; }
  #data h2, #action h2 { font-size: 18px; }
  #popover iframe { width: 100%; }
}

@media only screen 
and (max-width: 675px) {
  header .logo h1 a { width: 225px; }
  header .logo h2 { line-height: 10px; }

  #data { left: 20px; top: 420px; }
  #action { left: 20px; top: 490px; }

  #controls { float:right; font-size: 12px; margin-top: 120px; }
}



@media only screen
and (max-width: 400px) {
  /* phone */

  #data { top: 240px; }
  #action { top: 330px; }
  #controls { margin-top: 150px; }

  #explanation { width: 75%; }
  #petition { width: 67%; }
  #petition form.ak-form { width: 100%; }

  #members { width: 66%; margin-top: 0; }
  footer .copyright a { display: block; }
} 