{%extends 'base.html' %}
{% load static from staticfiles %}

{%block styles%}
<link rel="stylesheet" href="{% static 'css/map.css'%}" type="text/css">
{%endblock%}

{%block scripts%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="{% static 'js/underscore.min.js' %}"></script>
<script src="{% static 'js/d3.js' %}"></script>
<script src="{% static 'js/topojson.v1.min.js' %}"></script>
<script src="{% static 'js/queue.v1.min.js' %}"></script>
<script src="{% static 'js/spin.min.js' %}"></script>
<script src="{% static 'js/jquery.lightbox_me.js' %}"></script>

<script>
var mapWidth = 960,
    mapYOffset = 50,
    mapHeight = 600 + mapYOffset,
    dataTitle = null,
    dataStats = null,
    dataAction = null,
    active = d3.select(null), // selected state
    locked = d3.select(null), // selected county
    bubbles = d3.select(null),
    loading = null,
    killedbycops = {};

var formatNumber = d3.format(",.0f");
var formatPercent = d3.format(".1%");

// topojson is already projected, display as-is
var path = d3.geo.path()
    .projection(null);

// radius of county bubbles is scaled on sqrt, for area comparisons
var radius = d3.scale.sqrt()
    .domain([0, 1])
    .range([0, 3]);

// main svg object
var mapSvg = d3.select("#map").append("svg")
    .attr("preserveAspectRatio", "xMinYMin meet")
    .attr("viewBox", "0 0 "+mapWidth+" "+mapHeight)
    .classed("svg-content-responsive", true)
    .on("click", stopped, true);

// zoom behavior
var zoom = d3.behavior.zoom()
    .translate([0, 0])
    .scale(1)
    .scaleExtent([1, 8])
    .on("zoom", zoomFunction);

// background rect to allow reset
mapSvg.append("rect")
    .attr("class", "background")
    .attr("width", mapWidth)
    .attr("height", mapHeight)
    .on("click", resetZoom);

// main svg group
var mainGroup = mapSvg.append("g")
    .style("stroke-width", "1.5px");

mapSvg
    //.call(zoom) // allow free zooming
    .call(zoom.event)
    .on('mouseout', initialData);

function clickedState(d) {
  if (active.node() === this) { return resetZoom(); }

  active.classed("active", false);
  active = d3.select(this).classed("active", true);

  zoomToState(d);
  $('select[name="states"]').val(Number(d.id));
}

function zoomToState(d) {
  //set all bubbles inactive
  bubbles.classed('inactive',true)
    .classed('active',false);

  //and just the ones in this state as active
  bubbles.filter(function(c) { return c.id.substring(0,2) == d.id; })
    .classed('inactive',false)
    .classed('active',true);

  scaleFactor = 0.9;
  // northeastern states needs to be zoomed out a little
  if (d.id == "36") { scaleFactor = 0.75; } //NY
  if (d.id == "25") { scaleFactor = 0.75; } //MA
  if (d.id == "09") { scaleFactor = 0.5; } //CT
  if (d.id == "44") { scaleFactor = 0.3; } //RI
  if (d.id == "11") { scaleFactor = 0.2; } //DC

  //calculate zoom bounds
  var bounds = path.bounds(d),
      dx = bounds[1][0] - bounds[0][0],
      dy = bounds[1][1] - bounds[0][1],
      x = (bounds[0][0] + bounds[1][0]) / 2,
      y = (bounds[0][1] + bounds[1][1]) / 2,
      scale = scaleFactor / Math.max(dx / mapWidth, dy / mapHeight),
      translate = [mapWidth / 2 - scale * x, mapHeight / 2 - scale * y];

  // run the transition
  mapSvg.transition()
      .duration(750)
      .call(zoom.translate(translate).scale(scale).event);

  // update data display
  updateData(d);

  // send to analytics
  ga('send', 'event', 'state', 'zoom', d.properties.name);
}

function resetZoom() {
  //unset all bubble states
  bubbles.classed("inactive",false);
  bubbles.classed("active",false);

  active.classed("active", false);
  active = d3.select(null);

  mapSvg.transition()
      .duration(1000)
      .call(zoom.translate([0, mapYOffset]).scale(1).event);

  $('select[name="states"]').val(-1);
  $('#data .stats').html('');
}

function zoomFunction() {
  mainGroup.style("stroke-width", 1.5 / d3.event.scale + "px");
  mainGroup.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

function stopped() {
  if (d3.event.defaultPrevented) d3.event.stopPropagation();
}

function mergeData(error, us, fatalencounters, dojFocus) {
  if (error) return console.error(error);

  killedbycops = {us: {}, states:{}, counties:{}};

  // rollup county numbers by race
  killedbycops.counties = d3.nest()
    .key(function(d) { return d.county_fips; })
    .key(function(d) { return d.race; })
    .rollup(function(l) { return l.length; })
    .entries(fatalencounters.objects);

  // merge with county geometry
  var usCounties = topojson.feature(us, us.objects.counties).features;
  killedbycops.counties = _.map(killedbycops.counties, function(county) {
      geom = _.find(usCounties, function(g) { return g.id === county.key; } );
      geom.properties.type = "county";
      geom.properties.fatalencounters = {
        race: county.values,
        total: d3.sum(county.values, function(d) { return d.values; })
      };
    return geom;
  });

  // merge DOJ focus areas
  _.each(dojFocus, function(a) {
    var c = _.find(killedbycops.counties, function(d) {
      return d.id === a.FIPS;
    });
    if (c) { c.properties.doj = {status: a["DoJ Status"], url: a['URL']}; }
  });

    // rollup state numbers by race, and sum
  killedbycops.states = d3.nest()
    .key(function(d) { return d.county_fips.substring(0,2); })
    .key(function(d) { return d.race; })
    .rollup(function(l) { return l.length; })
    .entries(fatalencounters.objects);

  // ugly, but we already have state FIPS lookup in view
  var stateFIPS = { {% for code in STATE_CODES %}{{code.1}}: '{{code.0}}'{%if not forloop.last%},{%endif%}{%endfor%} };

  // merge with state geometry
  var usStates = topojson.feature(us, us.objects.states).features;
  killedbycops.states = _.map(killedbycops.states, function(state) {
      geom = _.find(usStates, function(g) { return g.id === state.key; } );
      geom.properties.type = "state";
      geom.properties.fatalencounters = {
        race: state.values,
        total: d3.sum(state.values, function(d) { return d.values; })
      };
      geom.properties.name = stateFIPS[Number(geom.id)];
    return geom;
  });

  // compute state border mesh
  killedbycops.stateBorders = topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; });

  // rollup national numbers by race, and sum
  killedbycops.us = {};
  killedbycops.us.race = d3.nest()
    .key(function(d) { return d.race; })
    .rollup(function(l) { return l.length; })
    .entries(fatalencounters.objects);
  killedbycops.us.total = d3.sum(killedbycops.us.race, function(d) { return d.values; });

  console.log(killedbycops);

  return drawMap(killedbycops);
}

function drawMap(killedbycops) {
  // draw states
  mainGroup.selectAll("path")
      .data(killedbycops.states)
    .enter().append("path")
      .attr("d", path)
      .attr("class", "state")
      .on("click", clickedState); // zoom when clicked

  // draw state borders
  mainGroup.append("path")
      .datum(killedbycops.stateBorders)
      .attr("class", "border border--state")
      .attr("d", path);

  // draw county bubbles
  bubbles = mainGroup.append("g")
      .attr("class","bubble")
    .selectAll("circle")
      .data(killedbycops.counties
        .sort(function(a, b) {
          return (b.properties.fatalencounters.total - a.properties.fatalencounters.total);;
         })
      )
    .enter().append("circle")
      .attr("transform", function(d) {
        return "translate(" + path.centroid(d) + ")";
      })
      .attr("r", function(d) {
        return radius(d.properties.fatalencounters.total);
      })
      .on("mouseover", updateData);
      //.on("click", lockData);

    mapSvg.transition()
      .duration(0)
      .call(zoom.translate([0, mapYOffset]).scale(1).event);

  loading.stop();
  initialData();
}

function initialData() {
  if (locked.node() !== null) {
    return;
  }

  if (active.node() == null) {
    // show national numbers
    $('#data .title').html(dataTitle({
      name: "2000-2014",
      killedbycops: {us: "over " + formatNumber(killedbycops.us.total)}
    }));
  }
 
  //$('#data .stats').html('');
  $('#data .action').html('');
}

function updateData(d) {
  // if locked to a different d, don't update
  // if ((locked.node() !== null) && (d.id !== locked.data()[0].id)) {
  //   return;
  // }

  // only show data when we are zoomed in to a state
  if(active.node == null) {
    return;
  }

  // format d properties and fill in data template
  dataHtml = dataStats({
        name: d.properties.name.split(', ')[0], // drop state from "County, State"
        d: {total: formatNumber(d.properties.fatalencounters.total)},
  });

  activeD = active.data()[0];
  if(activeD.properties.type === "state" && d.properties.type !== 'state') {
    dataHtml = dataStats({
        name: activeD.properties.name.split(', ')[0],
        d: {total: formatNumber(activeD.properties.fatalencounters.total)},
    })+dataHtml;
  }

  $('#data .stats').html(dataHtml);
  $('#data .action').html(dataAction({doj: d.properties.doj}));
  // send to analytics
  ga('send', 'event', 'county', 'data', d.properties.name);
}

function lockData(d) {
  if (locked.node() === this) {
    d3.select(this).classed('locked',false);
    locked = d3.select(null);
    return;
  } else {
    bubbles.classed('locked',false);
    locked = d3.select(this).classed('locked',true);
    updateData(d);
  }
}

$(document).ready(function() {
  // show introductory overlay
  $('#introduction.overlay').lightbox_me({
    centered: true,
    overlayCSS: { background: 'black', 
                  opacity: 0.75
                }
  });

  // map loading spinner
  loading = new Spinner().spin();
  $('#map').append(loading.el);

  // load data files asynchronously
  queue()
      .defer(d3.json, "{% static 'data/us.json' %}")
      .defer(d3.json, "{% static 'data/fatalencounters.json' %}")
      .defer(d3.csv, "{% static 'data/doj_focus.csv' %}")
      .await(mergeData);

  // compile data templates
  dataTitle = _.template($('script#data-title').html());
  dataStats = _.template($('script#data-stats').html());
  dataAction = _.template($('script#data-action').html());

  // dropdown state selector
  $('select[name="states"]').on('change', function() {
    var val = $('select[name="states"]').val();
    if (val !== "-1") {
        active.classed("active", false);
        var state = mainGroup.selectAll("path").filter(function(d) { return Number(d.id) == val; });
        active = d3.select(state.node()).classed("active", true);
        $('select[name="states"] option[val="-1"]').text('select one');
        zoomToState(state.data()[0]);
    } else {
      $('select[name="states"] option[val="-1"]').text('National');
      resetZoom();
    }
  });

  $('.sp_fb_small').on('click', function() {
    ga('send', 'social', {
      'socialNetwork': 'facebook',
      'socialAction': 'share',
      'socialTarget': 'http://www.killedbycops.org'
    });
  });
  $('.sp_tw_small').on('click', function() {
    ga('send', 'social', {
      'socialNetwork': 'twitter',
      'socialAction': 'share',
      'socialTarget': 'http://www.killedbycops.org'
    });
  });
});

</script>

{% verbatim %}
<script type = "text/template" id="data-title">
<h2><%= killedbycops.us %> nationally 2000-2014</h2>
</script>

<script type = "text/template" id="data-stats">
<h2><%= d.total %> reported in  <%= name %></h2>
</script>

<script type = "text/template" id="data-action">
<% if (typeof(doj) != "undefined") { %>
  <div class="doj">Federal Action: <a href="<%= doj.url %>" target="_blank"><%= doj.status %></a></div>
<% } %>
</script>
{% endverbatim %}

{%endblock%}

{%block content%}
<div id="introduction" class="overlay">
<h1>KilledByCops</h1>
<p>
    This map visualizes the <b>crisis of violent policing</b> and calls attention to the <b>lack of a comprehensive, publicly-accessible, national database</b> that tracks deadly encounters with police. The data is crowdsourced by FatalEncounters because many local police departments are not required to report this data to the DOJ. The dataset is still incomplete and the lack of incidents in an area does not mean is exempt from the epidemic of police violence and killings.
</p>
<p>
    A project of ColorOfChange.org
</p>
</div>

<div class="map_wrapper">
  <div id="data">
    <div class="title"></div>
    <div class="stats"></div>
    <div class="action"></div>
  </div> 
  <div id="share">
      <div class='sp_9967 sp_fb_small' ></div>
      <div class='sp_9967 sp_tw_small' ></div>
  </div>
  <div id="map"></div>
  <div id="controls">
    <em>Click your state or </em>
    <select name="states">
    <option value="-1">select one</option>
    {% for code in STATE_CODES %}<option value="{{code.1}}">{{code.0}}</option>{%endfor%}
    </select>
  </div>
  <div id="explanation">
    <b>Sources:</b>
    <ul id="sources">
      <li><a href="http://www.fatalencounters.org">FatalEncounters.org</a></li>,
      <li><a href="http://factfinder2.census.gov">US Census</a></li>,
      <li><a href="http://www.justice.gov/crt/about/spl/findsettle.php">Department of Justice</a>
    </ul>
  </div>
</div>
{%endblock%}