{%extends 'base.html' %}
{% load static from staticfiles %}

{%block styles%}
<link rel="stylesheet" href="{% static 'css/map.css'%}" type="text/css">
{%endblock%}

{%block body%}
<script src="{% static 'js/underscore.min.js' %}"></script>
<script src="{% static 'js/d3.js' %}"></script>
<script src="{% static 'js/topojson.v1.min.js' %}"></script>
<script src="{% static 'js/queue.v1.min.js' %}"></script>

<h1>KilledByCops</h1>

<script>

var width = 960,
    height = 600;

var formatNumber = d3.format(",.0f");

var path = d3.geo.path()
    .projection(null);

var radius = d3.scale.sqrt()
    .domain([0, 15])
    .range([0, 15]);

var svg = d3.select("body").append("svg")
    .attr("width", width)
    .attr("height", height);

// var legend = svg.append("g")
//     .attr("class", "legend")
//     .attr("transform", "translate(" + (width - 50) + "," + (height - 20) + ")")
//   .selectAll("g")
//     .data([1e6, 5e6, 1e7])
//   .enter().append("g");

// legend.append("circle")
//     .attr("cy", function(d) { return -radius(d); })
//     .attr("r", radius);

// legend.append("text")
//     .attr("y", function(d) { return -2 * radius(d); })
//     .attr("dy", "1.3em")
//     .text(d3.format(".1s"));

queue()
    .defer(d3.json, "{% static 'data/us.json' %}")
    .defer(d3.json, "{% static 'data/fatalencounters.json' %}") //live data at /api/v1/fatalencounters/?format=json&limit=0
    .await(ready);

function ready(error, us, fatalencounters) {
  if (error) return console.error(error);

  // take the fatalencounters data, rollup counts by race
  var fe_race_rollup = d3.nest()
    .key(function(d) { return d.county_fips; })
    .key(function(d) { return d.race; })
    .rollup(function(l) { return l.length; })
    .entries(fatalencounters.objects);

  // pull us_counties features from topojson
  us_counties = topojson.feature(us, us.objects.counties).features;
   //.sort(function(a, b) { return b.properties.population - a.properties.population; };

  // merge fatalencounters with us_counties
  // 
  fe_by_county = _.map(us_counties, function(county) {
    fe_in_county = _.find(fe_race_rollup, function(c) { return c.key === county.id } );
    if (fe_in_county) {
      // convert nested rollup array to object 
      by_race = _.object(_.map(fe_in_county.values, function(elem) {
        return [elem.key, elem.values];
      }));
      county.properties.fatalencounters = {
        by_race: by_race,
        total: _.reduce(by_race, function(memo, r) { return memo+r; }, 0)
      };
    }
    return county;
  });

  svg.append("path")
      .datum(topojson.feature(us, us.objects.nation))
      .attr("class", "land")
      .attr("d", path);

  svg.append("path")
      .datum(topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; }))
      .attr("class", "border border--state")
      .attr("d", path);

  svg.append("g")
      .attr("class", "bubble")
    .selectAll("circle")
      .data(fe_by_county)
    .enter().append("circle")
      .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
      .attr("r", function(d) { 
        if (d.properties.fatalencounters) {
          return radius(d.properties.fatalencounters.total);
        } else {
          return radius(0);
        }
      })
    .append("title")
      .text(function(d) {
        var text = d.properties.name
            + "\nPopulation " + formatNumber(d.properties.population);
        if (d.properties.fatalencounters) {
          text += "\nFatal Encounters " + formatNumber(d.properties.fatalencounters.total);
        }
        return text;
      });
}

d3.select(self.frameElement).style("height", height + "px");

</script>

<p>Data from FatalEncounters.org</p>

{%endblock%}