{%extends 'base.html' %}
{% load static from staticfiles %}

{%block styles%}
<link rel="stylesheet" href="{% static 'css/coc_stw.css'%}" type="text/css" />
<link rel="stylesheet" href="{% static 'css/map.css'%}" type="text/css">
{%endblock%}

{%block scripts%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="{% static 'js/underscore.min.js' %}"></script>
<script src="{% static 'js/d3.js' %}"></script>
<script src="{% static 'js/topojson.v1.min.js' %}"></script>
<script src="{% static 'js/queue.v1.min.js' %}"></script>

<script>
var mapWidth = 640,
    mapHeight = 480,
    dataWidth = 250,
    dataHeight = 250,
    dataTitle = null, // template
    dataBelow = null, // template
    active = d3.select(null), // selected state
    locked = d3.select(null), // selected county
    bubbles = d3.select(null),
    killedbycops = {};

var formatNumber = d3.format(",.0f");
var formatPercent = d3.format(".1%");

// topojson is already projected, display as-is
var path = d3.geo.path()
    .projection(null);

// radius of county bubbles is scaled on sqrt, for area comparisons
var radius = d3.scale.sqrt()
    .domain([0, 1])
    .range([0, 3]);

// pie charts for race breakdown
var pieLayout = d3.layout.pie()
    //.sort(null)
    .value(function(d) { return d.values; });
var pieArc = d3.svg.arc().outerRadius(100).innerRadius(0)

// colors from coc menu, in order
var raceColors = d3.scale.ordinal()
    .range(['#f63','#c00','#9a679a','#ffcd32','#09C','#1D8B32']);

// main svg object
var mapSvg = d3.select("#map").append("svg")
    .attr("width", mapWidth)
    .attr("height", mapHeight)
    .on("click", stopped, true);

// zoom behavior
var zoom = d3.behavior.zoom()
    .translate([0, 0])
    .scale(1)
    .scaleExtent([1, 8])
    .on("zoom", zoomFunction);

// background rect to allow reset
mapSvg.append("rect")
    .attr("class", "background")
    .attr("width", mapWidth)
    .attr("height", mapHeight)
    .on("click", resetZoom);

// main svg group
var mainGroup = mapSvg.append("g")
    .style("stroke-width", "1.5px");

mapSvg
    //.call(zoom) // allow free zooming
    .call(zoom.event)
    .on('mouseout', initialData);

var dataSvg = d3.select("#data .graph").append("svg")
  .attr("width", dataWidth)
  .attr("height", dataHeight);

var dataGroup = dataSvg.append("g")
    .style("stroke-width", "1.5px")
    .attr("transform", "translate(" + dataWidth / 2 + "," + dataHeight / 2 + ")");
//dataSvg.append('text')
//    .text('Victims by Race')
//    .attr("transform", "translate(" + (dataWidth / 2 - 40) + "," + (dataHeight - 10) + ")");

function clickedState(d) {
  if (active.node() === this) { return resetZoom(); }

  active.classed("active", false);
  active = d3.select(this).classed("active", true);

  zoomToState(d);
  $('select[name="states"]').val(Number(d.id));
}

function zoomToState(d) {
  //set all bubbles inactive
  bubbles.classed('inactive',true)
    .classed('active',false);

  //and just the ones in this state as active
  bubbles.filter(function(c) { return c.id.substring(0,2) == d.id; })
    .classed('inactive',false)
    .classed('active',true);

  scaleFactor = 0.9;
  // northeastern states needs to be zoomed out a little
  if (d.id == "36") { scaleFactor = 0.75; } //NY
  if (d.id == "25") { scaleFactor = 0.75; } //MA
  if (d.id == "09") { scaleFactor = 0.5; } //CT
  if (d.id == "44") { scaleFactor = 0.3; } //RI

  //calculate zoom bounds
  var bounds = path.bounds(d),
      dx = bounds[1][0] - bounds[0][0],
      dy = bounds[1][1] - bounds[0][1],
      x = (bounds[0][0] + bounds[1][0]) / 2,
      y = (bounds[0][1] + bounds[1][1]) / 2,
      scale = scaleFactor / Math.max(dx / mapWidth, dy / mapHeight),
      translate = [mapWidth / 2 - scale * x, mapHeight / 2 - scale * y];

  // run the transition
  mapSvg.transition()
      .duration(750)
      .call(zoom.translate(translate).scale(scale).event);

  updateData(d);
}

function resetZoom() {
  //unset all bubble states
  bubbles.classed("inactive",false);
  bubbles.classed("active",false);

  active.classed("active", false);
  active = d3.select(null);

  mapSvg.transition()
      .duration(1000)
      .call(zoom.translate([0, 0]).scale(1).event);

  $('select[name="states"]').val(-1);
}

function zoomFunction() {
  mainGroup.style("stroke-width", 1.5 / d3.event.scale + "px");
  mainGroup.attr("transform", "translate(" + d3.event.translate + ")scale(" + d3.event.scale + ")");
}

function stopped() {
  if (d3.event.defaultPrevented) d3.event.stopPropagation();
}

// load data files asynchronously
queue()
    .defer(d3.json, "{% static 'data/us.json' %}")
    .defer(d3.json, "{% static 'data/fatalencounters.json' %}")
    .defer(d3.csv, "{% static 'data/doj_focus.csv' %}")
    .await(mergeData);

function mergeData(error, us, fatalencounters, dojFocus) {
  if (error) return console.error(error);

  killedbycops = {us: {}, states:{}, counties:{}};

  // rollup county numbers by race
  killedbycops.counties = d3.nest()
    .key(function(d) { return d.county_fips; })
    .key(function(d) { return d.race; })
    .rollup(function(l) { return l.length; })
    .entries(fatalencounters.objects);

  // merge with county geometry
  var usCounties = topojson.feature(us, us.objects.counties).features;
  killedbycops.counties = _.map(killedbycops.counties, function(county) {
      geom = _.find(usCounties, function(g) { return g.id === county.key; } );
      geom.properties.fatalencounters = {
        race: county.values,
        total: d3.sum(county.values, function(d) { return d.values; })
      };
    return geom;
  });

  // merge DOJ focus areas
  _.each(dojFocus, function(a) {
    var c = _.find(killedbycops.counties, function(d) {
      return d.id === a.FIPS;
    });
    if (c) { c.properties.doj = {status: a["DoJ Status"], url: a['URL']}; }
  });

    // rollup state numbers by race, and sum
  killedbycops.states = d3.nest()
    .key(function(d) { return d.county_fips.substring(0,2); })
    .key(function(d) { return d.race; })
    .rollup(function(l) { return l.length; })
    .entries(fatalencounters.objects);

  // ugly, but we already have state FIPS lookup in view
  var stateFIPS = { {% for code in STATE_CODES %}{{code.1}}: '{{code.0}}',{%endfor%} };

  // merge with state geometry
  var usStates = topojson.feature(us, us.objects.states).features;
  killedbycops.states = _.map(killedbycops.states, function(state) {
      geom = _.find(usStates, function(g) { return g.id === state.key; } );
      geom.properties.fatalencounters = {
        race: state.values,
        total: d3.sum(state.values, function(d) { return d.values; })
      };
      geom.properties.name = stateFIPS[geom.id];
    return geom;
  });

  // compute state border mesh
  killedbycops.stateBorders = topojson.mesh(us, us.objects.states, function(a, b) { return a !== b; });

  // rollup national numbers by race, and sum
  killedbycops.us = {};
  killedbycops.us.race = d3.nest()
    .key(function(d) { return d.race; })
    .rollup(function(l) { return l.length; })
    .entries(fatalencounters.objects);
  killedbycops.us.total = d3.sum(killedbycops.us.race, function(d) { return d.values; });

  console.log(killedbycops);

  return drawMap(killedbycops);
}

function drawMap(killedbycops) {

  // draw states
  mainGroup.selectAll("path")
      .data(killedbycops.states)
    .enter().append("path")
      .attr("d", path)
      .attr("class", "state")
      .on("click", clickedState); // zoom when clicked

  // draw state borders
  mainGroup.append("path")
      .datum(killedbycops.stateBorders)
      .attr("class", "border border--state")
      .attr("d", path);

  // draw county bubbles
  bubbles = mainGroup.append("g")
      .attr("class","bubble")
    .selectAll("circle")
      .data(killedbycops.counties
        .sort(function(a, b) {
          return (b.properties.fatalencounters.total - a.properties.fatalencounters.total);;
         })
      )
    .enter().append("circle")
      .attr("transform", function(d) {
        return "translate(" + path.centroid(d) + ")";
      })
      .attr("r", function(d) {
        return radius(d.properties.fatalencounters.total);
      })
      .on("mouseover", updateData)
      .on("click", lockData);

  initialData();
}

function initialData() {
  if (locked.node() !== null) {
    return;
  }

  if (active.node() == null) {
    // show national numbers
    $('#data .title').html(dataTitle({
      name: "2000-2014",
      fatalencounters: {total: "over " + formatNumber(killedbycops.us.total)}
    }));
  } else {
    d = active.data()[0];
    $('#data .title').html(dataTitle({
      name: d.properties.name,
      fatalencounters: {total: formatNumber(d.properties.fatalencounters.total)}
    }));
  }

  var g = dataGroup.selectAll(".arc")
      .data(pieLayout(killedbycops.us.race))
    .enter().append("g")
      .attr("class", "arc");

    g.append("path")
      .attr("d", pieArc )
      .each(function(d) { this._current = d; }) // store the initial angles
      .style("fill", function(d) { return raceColors(d.data.key); })
      .append("title")
        .text(function(d) {
          var race = d.data.key == "" ? 'Unknown' : d.data.key;
          return race+": "+d.data.values;
        } );

    $('#data .below').html('');

}

function updateData(d) {
  // if locked to a different d, don't update
  if ((locked.node() !== null) && (d.id !== locked.data()[0].id)) {
    return;
  }

  var angles = pieLayout(d.properties.fatalencounters.race);
  //console.log(angles);

  var g = dataGroup.selectAll('.arc')
    .data(angles);

  // shouldn't need to add any, because initial load includes all categories from rollup
  // g.enter().append("g")
  //   .attr("class", "arc")
  //   .attr("d", pieArc )
  //   .each(function(d) { console.log("added",d); });

  g.selectAll("path").transition()
    .attr("d", pieArc);
    // .each(function(d) { console.log("updated",d); });
    
  //g.exit().transition().remove();
    
  // tween gracefully
  // .attrTween("d", function arcTween(a) {
  //   console.log(a);
  //   // tween by interpolating
  //   var i = d3.interpolate(this._current, a);
  //   this._current = i(0);
  //   return function(t) {
  //     return pieArc(i(t));
  //   };
  // }); // redraw the arcs

  // format county info and fill in data template
  outputTitle = _.extend({}, d.properties,
    { name: d.properties.name.split(', ')[0], // drop state from "County, State"
      fatalencounters: {total: formatNumber(d.properties.fatalencounters.total)},
    });
  $('#data .title').html(dataTitle(outputTitle));
  $('#data .below').html(dataBelow({doj: d.properties.doj}));
}

function lockData(d) {
  if (locked.node() === this) {
    d3.select(this).classed('locked',false);
    locked = d3.select(null);
    return;
  } else {
    bubbles.classed('locked',false);
    locked = d3.select(this).classed('locked',true);
    updateData(d);
  }
}

$(document).ready(function() {
  // compile data templates
  dataTitle = _.template($('script#data-title').html());
  dataBelow = _.template($('script#data-below').html());

  $('select[name="states"]').on('change', function() {
    var val = $('select[name="states"]').val();
    if (val !== "-1") {
        active.classed("active", false);
        var state = mainGroup.selectAll("path").filter(function(d) { return Number(d.id) == val; });
        active = d3.select(state.node()).classed("active", true);
        zoomToState(state.data()[0]);
    } else {
      resetZoom();
    }

  });
});

</script>

{% verbatim %}
<script type = "text/template" id="data-title">
<h2>Killed By Cops:</h2>
<h3><%= name %></h3>
<h3><em><%= fatalencounters.total %></em></h3>
</script>

<script type = "text/template" id="data-below">
<% if (typeof(doj) != "undefined") { %>
  <div class="doj">Federal Action: <a href="<%= doj.url %>" target="_blank"><%= doj.status %></a></div>
<% } %>
</script>
{% endverbatim %}

{%endblock%}

{%block content%}
<div class="map_wrapper">
  <h1>Geography of people killed by law enforcement </h1>
  <h2>Where are people most likely to be killed by police?<br> Why isn't the government collecting this data?</h2>
  <div id="d3">
    <div id="map"></div>
    <div id="data">
      <div class="title"></div>
      <div class="graph"></div>
      <div class="below"></div>
    </div>
  </div>
  <div id="controls">
    <em>Click or select a state to zoom in</em>
    <select name="states">
    <option value="-1"></option>
    {% for code in STATE_CODES %}<option value="{{code.1}}">{{code.0}}</option>{%endfor%}
    </select>
  </div>
  <p>
    The Killed By Cops map is a project of ColorOfChange.org with data from FatalEncounters.org developed to visualize the crisis of violent policing and to call attention to the lack of a comprehensive, publicly-accessible, national database that tracks deadly encounters with police. The data is crowdsourced by FatalEncounters because many local police departments are not required to report this data to the DOJ, meaning that the dataset is largely incomplete and the lack of heated bubble areas is as result of the lack of available data and not because these areas are exempt from the epidemic of police violence and killings.
  </p>
  <ul id="sources">
    <li>News Reports from 2000-2014 collected by <a href="http://www.fatalencounters.org">FatalEncounters.org</a></li>
    <li>Conduct of Law Enforcement cases <a href="http://www.justice.gov/crt/about/spl/findsettle.php">Department of Justice</a>
    <li>Mapping and data analysis by <a href="http://colorofchange.org">ColorOfChange.org</a></li>
  </ul>
</div>
{%endblock%}