<form class="ak-form" name="act" method="POST" action="http://act.colorofchange.org/act/" accept-charset="utf-8" style="display: block;">
        
          <ul class="compact" id="ak-errors"></ul>
          
          <div id="unknown_user">
            

            <ul class="user_form">
              <li>
                <label for="id_name">Name: </label>
                <input id="id_name" type="text" name="name" placeholder="Name ">
              </li>
              <li>
                <label for="id_email">Email: </label>
                <input id="id_email" type="email" name="email" placeholder="Email *">
              </li>     
        
         
        
              
        <li>
                <label for="id_zip">ZIP: </label>
                <input id="id_zip" type="text" name="zip" size="5" placeholder="Zip *">               
              </li>       
        
        
        

              <li id="country_drop_down" class="address">
                <label for="id_country">Country: </label>
                <select class="short" name="country" id="country">
    <option selected="">United States</option>
    <option>Afghanistan</option>
    <option>Albania</option>
    <option>Algeria</option>
    <option>American Samoa</option>
    <option>Andorra</option>
    <option>Angola</option>
    <option>Anguilla</option>
    <option>Antarctica</option>
    <option>Antigua and Barbuda</option>
    <option>Argentina</option>
    <option>Armenia</option>
    <option>Aruba</option>
    <option>Australia</option>
    <option>Austria</option>
    <option>Azerbaijan</option>
    <option>Bahamas</option>
    <option>Bahrain</option>
    <option>Bangladesh</option>
    <option>Barbados</option>
    <option>Belarus</option>
    <option>Belgium</option>
    <option>Belize</option>
    <option>Benin</option>
    <option>Bermuda</option>
    <option>Bhutan</option>
    <option>Bolivia</option>
    <option>Bosnia, Herzegovina</option>
    <option>Botswana</option>
    <option>Bouvet Island</option>
    <option>Brazil</option>
    <option>BIOT</option>
    <option>Brunei Darussalam</option>
    <option>Bulgaria</option>
    <option>Burkina Faso</option>
    <option>Burma</option>
    <option>Burundi</option>
    <option>Cambodia</option>
    <option>Cameroon</option>
    <option>Canada</option>
    <option>Cape Verde</option>
    <option>Cayman Islands</option>
    <option>C. African Repub.</option>
    <option>Chad</option>
    <option>Chile</option>
    <option>China</option>
    <option>Christmas Island</option>
    <option>Cocos Islands</option>
    <option>Colombia</option>
    <option>Comoros</option>
    <option>Congo</option>
    <option>Congo, DR</option>
    <option>Cook Islands</option>
    <option>Costa Rica</option>
    <option>Cote D'Ivoire</option>
    <option>Croatia</option>
    <option>Cuba</option>
    <option>Cyprus</option>
    <option>Czech Repub.</option>
    <option>Denmark</option>
    <option>Djibouti</option>
    <option>Dominica</option>
    <option>Dominican Repub.</option>
    <option>East Timor</option>
    <option>Ecuador</option>
    <option>Egypt</option>
    <option>El Salvador</option>
    <option>England</option>
    <option>Equatorial Guinea</option>
    <option>Eritrea</option>
    <option>Espana</option>
    <option>Estonia</option>
    <option>Ethiopia</option>
    <option>Falkland Islands</option>
    <option>Faroe Islands</option>
    <option>Fiji</option>
    <option>Finland</option>
    <option>France</option>
    <option>French Guiana</option>
    <option>French Polynesia</option>
    <option>F.S. Territories</option>
    <option>Gabon</option>
    <option>Gambia</option>
    <option>Georgia</option>
    <option>Germany</option>
    <option>Ghana</option>
    <option>Gibraltar</option>
    <option>Great Britain</option>
    <option>Greece</option>
    <option>Greenland</option>
    <option>Grenada</option>
    <option>Guadeloupe</option>
    <option>Guam</option>
    <option>Guatemala</option>
    <option>Guinea</option>
    <option>Guinea-Bissau</option>
    <option>Guyana</option>
    <option>Haiti</option>
    <option>Holy See</option>
    <option>Honduras</option>
    <option>Hong Kong</option>
    <option>Hungary</option>
    <option>Iceland</option>
    <option>India</option>
    <option>Indonesia</option>
    <option>Iran</option>
    <option>Iraq</option>
    <option>Ireland</option>
    <option>Israel</option>
    <option>Italy</option>
    <option>Jamaica</option>
    <option>Japan</option>
    <option>Jordan</option>
    <option>Kazakstan</option>
    <option>Kenya</option>
    <option>Kiribati</option>
    <option>Korea (South)</option>
    <option>Korea (North)</option>
    <option>Kuwait</option>
    <option>Kyrgyzstan</option>
    <option>Laos</option>
    <option>Latvia</option>
    <option>Lebanon</option>
    <option>Lesotho</option>
    <option>Liberia</option>
    <option>Libya</option>
    <option>Liechtenstein</option>
    <option>Lithuania</option>
    <option>Luxembourg</option>
    <option>Macau</option>
    <option>Macedonia</option>
    <option>Madagascar</option>
    <option>Malawi</option>
    <option>Malaysia</option>
    <option>Maldives</option>
    <option>Mali</option>
    <option>Malta</option>
    <option>Marshall Islands</option>
    <option>Martinique</option>
    <option>Mauritania</option>
    <option>Mauritius</option>
    <option>Mayotte</option>
    <option>Mexico</option>
    <option>Micronesia</option>
    <option>Moldova</option>
    <option>Monaco</option>
    <option>Mongolia</option>
    <option>Montserrat</option>
    <option>Morocco</option>
    <option>Mozambique</option>
    <option>Myanmar</option>
    <option>Namibia</option>
    <option>Nauru</option>
    <option>Nepal</option>
    <option>Netherlands</option>
    <option>Netherlands Antilles</option>
    <option>New Caledonia</option>
    <option>New Zealand</option>
    <option>Nicaragua</option>
    <option>Niger</option>
    <option>Nigeria</option>
    <option>Niue</option>
    <option>Norfolk Island</option>
    <option>Northern Ireland</option>
    <option>N.Mariana Islands</option>
    <option>Norway</option>
    <option>Oman</option>
    <option>Pakistan</option>
    <option>Palau</option>
    <option>Palestinian Territory</option>
    <option>Panama</option>
    <option>Papua New Guinea</option>
    <option>Paraguay</option>
    <option>Peru</option>
    <option>Philippines</option>
    <option>Pitcairn</option>
    <option>Poland</option>
    <option>Portugal</option>
    <option>Puerto Rico</option>
    <option>Qatar</option>
    <option>Reunion</option>
    <option>Romania</option>
    <option>Russia</option>
    <option>Rwanda</option>
    <option>Saint Helena</option>
    <option>Saint Kitts and Nevis</option>
    <option>Saint Lucia</option>
    <option>Saint Pierre, Miquelon</option>
    <option>St. Vincent, Grenadines</option>
    <option>Samoa</option>
    <option>San Marino</option>
    <option>Sao Tome and Principe</option>
    <option>Saudi Arabia</option>
    <option>Scotland</option>
    <option>Senegal</option>
    <option>Seychelles</option>
    <option>Sierra Leone</option>
    <option>Singapore</option>
    <option>Slovakia</option>
    <option>Slovenia</option>
    <option>Solomon Islands</option>
    <option>Somalia</option>
    <option>South Africa</option>
    <option>South Georgia</option>
    <option>South Korea</option>
    <option>South Sandwich Islands</option>
    <option>Spain</option>
    <option>Sri Lanka</option>
    <option>Sudan</option>
    <option>Suriname</option>
    <option>Svalbard and Jan Mayen</option>
    <option>Swaziland</option>
    <option>Sweden</option>
    <option>Switzerland</option>
    <option>Syrian Arab Repub.</option>
    <option>Taiwan</option>
    <option>Tajikistan</option>
    <option>Tanzania</option>
    <option>Thailand</option>
    <option>Togo</option>
    <option>Tokelau</option>
    <option>Tonga</option>
    <option>Trinidad and Tobago</option>
    <option>Tunisia</option>
    <option>Turkey</option>
    <option>Turkmenistan</option>
    <option>Turks and Caicos Islands</option>
    <option>Tuvalu</option>
    <option>Uganda</option>
    <option>Ukraine</option>
    <option>United Arab Emirates</option>
    <option>United Kingdom</option>
    <option>Uruguay</option>
    <option>USA</option>
    <option>Uzbekistan</option>
    <option>Vanuatu</option>
    <option>Vatican City State</option>
    <option>Venezuela</option>
    <option>Viet Nam</option>
    <option>Virgin Islands, British</option>
    <option>Virgin Islands, U.S.</option>
    <option>Wales</option>
    <option>Wallis and Futuna</option>
    <option>Western Sahara</option>
    <option>Yemen</option>
    <option>Yugoslavia</option>
    <option>Zambia</option>
    <option>Zimbabwe</option>
</select>
<br>
                <span class="info">if in the US  <a href="#" id="yes_in_us">click here</a></span>
              </li>
              <li>
                <div class="phone-fieldset">
                  <label for="id_phone">Phone: </label>
                  <input id="id_phone" type="tel" name="phone" placeholder="Phone">
                </div>  
                 
                <div class="phone-fieldset optin-fieldset">                
                  <input id="user_sms_opt_in" type="checkbox" name="user_sms_opt_in">
                  <span class="mobile-optin">Receive SMS updates? †</span>
                </div>     
                <div class="clearfix"></div>    
              </li>
              
            </ul>


          </div>

          <div id="known_user" style="display: none;">
            Not <span id="known_user_name"></span>?  <a href="?" onclick="return actionkit.forms.logOut()">Click here.</a>
          </div>

          <label for="id_comment">Your personal comment: (optional)</label>
          <textarea id="id_comment" name="action_comment" placeholder="Your personal comment (optional)"></textarea>
          
          

          <input type="hidden" name="page" value="{{ak_page}}">
          <input type="hidden" name="source" value="{{ak_source}}">
          <input type="hidden" name="lists" value="1">
          
          
      <input class="red-button" type="submit" value="Sign"> 
        
        <input type="hidden" name="form_name" value="act"><input type="hidden" name="url" value="http://act.colorofchange.org/sign/{{ak_page}}/"><input type="hidden" name="js" value="1"><input type="hidden" name="required" value="name"><input type="hidden" name="required" value="zip">
</form>

<p class="field-note">* denotes required fields</p>

<div class="disclaimer">
   <p>YOU WILL RECEIVE PERIODIC UPDATES FROM COLOROFCHANGE.ORG. YOU MAY UNSUBSCRIBE AT ANY TIME.</p>
   <p>† MOBILE ALERTS FROM COLOROFCHANGE. PERIODIC MESSAGES. MSG &amp; DATA RATES MAY APPLY. TEXT STOP TO 225568 TO STOP RECEIVING MESSAGES. TEXT HELP TO 225568 FOR MORE INFORMATION.  <a href="http://colorofchange.org/about/terms/">TERMS AND CONDITIONS</a></p>
</div>