{% load static from staticfiles %}

<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{{title}}</title>

  <link rel="shortcut icon" type="image/x-icon" href="//s3.amazonaws.com/s3.colorofchange.org/ak-media/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <meta property="og:site_name" content="ColorOfChange.org">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://www.killedbycops.org">
  <meta property="article:publisher" content="https://www.facebook.com/colorofchange">
  <meta property="fb:admins" content="701690">
  <meta property="fb:admins" content="5711765">
  <meta property="fb:admins" content="744842094">
  <meta property="fb:app_id" content="127053160685288">
  <meta property="og:title" content="Follow @KilledByCops. In memory of those killed by law enforcement. Let's stop killer cops and address the nationwide crisis of police violence.">
  <meta property="og:description" content="https://s3.amazonaws.com/s3.colorofchange.org/images/killedbycops-stw.png">

  <link rel="stylesheet" href="{% static 'css/killedbycops.css' %}" type="text/css">

  {%block styles%}{%endblock%}

<html>
<body>
  <header>
    <div class="logo">
      <h1><a href="http://killedbycops.org/">KilledByCops</a></h1>
    </div>    
  </header>

  <section id="content" class="clearfix">
      {%block content%}{%endblock%}
  </section>

  <footer>
    <div class="copyright">
        &copy; 2014 ColorOfChange.org. <a href="http://colorofchange.org/about/copyright">Some rights reserved</a>
      </div>
  </footer>
{%block scripts%}{%endblock%}
</body>
</html>