{% load static from staticfiles %}

<!DOCTYPE html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <title>{{title}}</title>

  <link rel="shortcut icon" type="image/x-icon" href="//s3.amazonaws.com/s3.colorofchange.org/ak-media/favicon.ico">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1">
  <meta property="og:site_name" content="ColorOfChange.org">
  <meta property="og:type" content="article">
  <meta property="og:url" content="http://www.killedbycops.org">
  <meta property="article:publisher" content="https://www.facebook.com/colorofchange">
  <meta property="fb:admins" content="701690">
  <meta property="fb:admins" content="5711765">
  <meta property="fb:admins" content="744842094">
  <meta property="fb:app_id" content="127053160685288">
  <meta property="og:title" content="Follow @KilledByCops. In memory of those killed by law enforcement. Let's stop killer cops and address the nationwide crisis of police violence.">
  <meta property="og:description" content="https://s3.amazonaws.com/s3.colorofchange.org/images/killedbycops-stw.png">

  <link rel="stylesheet" href="{% static 'css/killedbycops.css' %}" type="text/css">

  {%block styles%}{%endblock%}

  <script src="//c.shpg.org/176/sp.js"></script>
</head>
<html>
<body>
  <header>
    <div class="logo">
      <h1><a href="http://killedbycops.org/">KilledByCops</a></h1>
      {% block header_secondline %}{%endblock%}
    </div>    
  </header>

  <section id="content" class="clearfix">
      {%block content%}{%endblock%}
  </section>

  <footer>
    <div class="copyright">
        &copy; 2014 ColorOfChange.org. <a href="http://colorofchange.org/about/copyright">Some rights reserved</a>
      </div>
  </footer>
{%block scripts%}{%endblock%}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54189940-2', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>